entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[objectStorage]
defaultBucketID = "replit-objstore-37538285-5b20-49d1-b0aa-bb64e254f66f"
