/* Modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    text-align: left;
    color: black; /* Make sure text is visible */
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2f3136;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

.modal-content button:hover {
    background-color: #555;
}